form {
    width: 100%;
    gap: 20px;

    display: flex;
    flex-direction: column;

    & .row-container {
        width: inherit;
        gap: 20px;

        display: flex;
    }
    & .col-container {
        width: inherit;

        display: flex;
        flex-direction: column;
    }
    & label {
        font-weight: bold;
    }
    & input, textarea, select {
        padding: 10px 20px;
    } 
    & textarea {
        min-width: 100%;
        max-width: 100%;
    }
}

@media (width < 950px) {
    .row-container {
        flex-direction: column;
    }
    .check {
        flex-direction: row;
    }
}