form {
    width: 100%;
    gap: 20px;

    display: flex;
    flex-direction: column;

    & .row-container {
        width: inherit;
        gap: 20px;

        display: flex;
    }
    & .col-container {
        width: inherit;

        display: flex;
        flex-direction: column;
    }
    & label {
        font-weight: bold;
    }
    & input, textarea, select {
        padding: 10px 20px;
    } 
    & textarea {
        min-width: 100%;
        max-width: 100%;
    }
    & button {
        padding: 10px 0;

        font-size: 1.2em;
        font-weight: bold;
        color: #ffffff;
        background-color: #344e41;
        border: 1px solid #344e41;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
            color: #000000;
            background-color: transparent;
        }
    }
}

@media (width < 950px) {
    .row-container {
        flex-direction: column;
    }
    .check {
        flex-direction: row;
    }
}