header {
    width: 100%;
    height: 60svh;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    position: relative;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &::before {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;

        content: '';
        background-color: #14181680;
        z-index: 1;
    }
    & > section {
        width: 50%;
        max-width: 1700px;

        & h1, p {
            position: relative;
            z-index: 2;
        }
        & h1 {
            font-family: 'Algerian', serif;
            font-size: 3.5em;
            color: #ffffff;
        }
        & p {
            font-weight: bold;
            font-family: 'Algerian', serif;
            font-size: 1.2em;
            color: #ffffff;
        }
    }
}

.swag {
    background-image: url(../images/pexels-vika-glitter-392079-1094246.jpg);
}
.manual {
    background-image: url(../images/bg-man.jpeg);
}
.about {
    background-image: url(../images/about-plants.jpg);
}
.contact {
    background-image: url(../images/plant-growing.jpg);
}