main {
    width: 100%;
    max-width: 1700px;
    gap: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    & > section {
        width: 60%;
        padding: 20px 50px;
        gap: 50px;

        display: flex;
        align-items: center;
        justify-content: center;
        
        background-color: #ffffff;
        border-radius: 10px;

        & > div {
            width: 50%;

            & h3 {
                font-size: 2em;
            }
        }
        & > img {
            width: 50%;
            height: auto;
            object-fit: contain;
            max-height: 30svh;

            border-radius: 5px;
        }
    }
}

@media (width < 900px) {
    main > section {
        flex-direction: column;

        & > div {
            width: 100%;
        }
    }
}