@use './nav.scss';
@use './header.scss';
@use './main.scss';
@use './form.scss';
@use './footer.scss';

* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100svh;

    display: flex;
    flex-direction: column;
    align-items: center;

    scroll-behavior: smooth;
    background-color: #344e41;
}